__pycache__/
logs/
checkpoints/
inference_results/
.vscode/
*.pyc

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw

labeled_spikes_data/
*.mat
!labeled_spikes_data/**/*.mat
ictal/